<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">KSHRD</title>

    <th:block th:replace="~{fragments/styles}"/>

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- call navbar -->
    <div th:replace="~{fragments/navbar}"></div>

    <!-- call sidebar -->
    <div th:replace="~{fragments/sidebar/main_sidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Starter Page</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Starter Page</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid" layout:fragment="mainContent">
                <!-- TODO insert code here -->
                <!-- Render -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="~{fragments/footer}"></div>

</div>
<!-- ./wrapper -->
<th:block th:replace="~{fragments/scripts}"/>
<th:block layout:fragment="myScripts"/>
</body>
</html>
